@import 'simple-line-icons';
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600&display=swap');
$primary-color: #319795;

body {
    font-family: 'Nunito', sans-serif;    
}

.modal {
    z-index: 99;
}

.wrapper {
    max-width: 1335px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: auto;
}

.wrapper a {
    display: inline-block;
    margin: 5px;
}

.wrapper a:first-child {
    margin-left: 0;
}

.slider-wrapper {
    position: relative;
    height: 500px;
    overflow: hidden;
}

.slider-wrapper svg {
    margin: 0 auto;
    polygon {
        fill: #fff;
    }
}

.slide {
    height: 500px;
    background-size: cover !important;
}

.previousButton, .nextButton {
    position: absolute;
    bottom: 10px;
    right: 20px;
    z-index: 10;
    width: 48px;
    height: 48px;
    text-indent: -9999px;
    cursor: pointer;
    background: #0000005e;
    padding: 10px 15px;
    transition: all 0.2s ease-in-out;
    &:hover {
        background: #000;
        svg {
            polygon {
                color: #fff;
            }
        }
    }
}

.swiper-container {
    position: relative;
    z-index: 1;
    margin: 0px auto;
    overflow: hidden;
    list-style: none;
    padding: 0px;
    width: 100%;
    height: 500px;
    .left {
        position: absolute;
        left: 350px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
        transition-delay: 1.5s;
        opacity: 0;
    }
    .swiper-slide-active {
        .left.from-left {
            opacity: 1;
        }
        .right.from-right {
            opacity: 1;
        }
    }
    .right {
        position: absolute;
        right: 350px;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
        transition-delay: 2s;
    }
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    transition-property: transform;
}

.previousButton {
    right: 70px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.slider-content {
    text-align: center;
}

.slider-content .inner {
    padding: 40px 70px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 9;
    -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    max-width: 640px;
    &::after {
        top: 20px;
        right: 30px;
        bottom: 20px;
        left: 30px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        -webkit-transform: scale(0,1);
        transform: scale(0,1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
    }
    &::before {
        top: 0;
        right: 60px;
        bottom: 0;
        left: 60px;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
        -webkit-transform: scale(1,0);
        transform: scale(1,0);
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }
    &::after,
    &::before {
        position: absolute;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 1s, -webkit-transform 1s;
        transition: opacity 1s, transform 1s;
    }
}

.slider-content.swiper-slide-active .inner::after,
.slider-content.swiper-slide-active .inner::before {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.slider-content .inner button{
    -webkit-transition-delay: 0s;
        transition-delay: 0s;
}

.slider-content .inner h1 {
    margin: 0 auto;
    max-width: 840px;
    line-height: 1;
    font-family: 'Cookie', cursive;
}

.slider-content .inner p {
    margin: 20px auto 30px;
    max-width: 640px;
    font-family: 'Cookie', cursive;
}

.slider-content section {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.slider-content section span {
    font-size: 12px;
    display: inline-block;
    text-align: left;
    line-height: 1.4;
    vertical-align: middle;
}

.slider-content section img {
    width: 40px;
    height: 40px;
    border: solid 2px rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    vertical-align: middle;
}

.slider-content section span strong {
    display: block;
}

@media (max-height: 500px) {
    .slider-wrapper, .slide {
        height: calc(100vh - 75px);
    }    
}

@media (max-width: 640px) {
    .slider-wrapper, .slide {
        height: calc(80vh - 75px);
    }    
}

@media (max-height: 600px) {
    .slider-content .inner h1 {
        font-size: 32px;
    }    
}

@media (max-width: 640px) {
    .slider-content .inner h1 {
        font-size: 32px;
    }
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: linear-gradient(45deg, #ff89e9 0%,#05abe0 100%);
        opacity: 0.2;
    }
    &.swiper-slide-active {
        bottom: 0;
    }
    &.next {
        bottom: 100%;
    }
    &.previous {
        bottom: -100%;
    }
    &.hidden {
        visibility: hidden;
    }
    &.animateIn,
    &.animateOut {
        -webkit-transition: all 1s ease;
        transition: all 1s ease;
    }
    &.animateIn.previous,
    &.animateIn.next {
        bottom: 0;
        visibility: visible;
    }
    &.animateOut.previous {
        bottom: 100%;
    }
    &.animateOut.next {
        bottom: -100%;
    }
    &.slide-2 {
        &.swiper-slide-active {
            top: 0;
        }
        &.next {
            top: 100%;
        }
        &.previous {
            top: -100%;
        }
        &.hidden {
            visibility: hidden;
        }
        &.animateIn,
        &.animateOut {
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }
        &.animateIn.previous,
        &.animateIn.next {
            top: 0;
            visibility: visible;
        }
        &.animateOut.previous {
            top: 100%;
        }
        &.animateOut.next {
            bottom: -100%;
        }
    }
    &.slide-3 {
        &.swiper-slide-active {
            left: 0;
        }
        &.next {
            left: 100%;
            bottom: 0;
        }
        &.previous {
            left: -100%;
            bottom: 0;
        }
        &.hidden {
            visibility: hidden;
        }
        &.animateIn,
        &.animateOut {
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }
        &.animateIn.previous,
        &.animateIn.next {
            left: 0;
            visibility: visible;
        }
        &.animateOut.previous {
            left: 100%;
        }
        &.animateOut.next {
            left: -100%;
        }
    }
}

.swiper-slide h1 {
	transition: all 0.3s ease;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
	opacity: 0;
}

.swiper-slide button {
	transition: all 0.3s ease;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	opacity: 0;
}

.swiper-slide p {
	transition: all 0.3s ease;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
	opacity: 0;
}

.swiper-slide section * {
	transition: all 0.3s ease;
}

.swiper-slide section img {
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
	opacity: 0;
}

.swiper-slide section span {
	-webkit-transform: translateY(-10px);
	transform: translateY(-10px);
	opacity: 0;
}

.swiper-slide section span strong {
	-webkit-transform: translateY(10px);
	transform: translateY(10px);
	opacity: 0;
}

.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-active button,
.swiper-slide.swiper-slide-active p,
.swiper-slide.swiper-slide-active section * {
	-webkit-transform: translateX(0);
	        transform: translateX(0);
	-webkit-transition-delay: .9s;
					transition-delay: .9s;
					opacity: 1;
}

.swiper-slide.swiper-slide-active p,
.swiper-slide.swiper-slide-active p {
	-webkit-transition-delay: 1.1s;
					transition-delay: 1.1s;
}

.cart-item {
    position: relative;
    .item-in-cart {
        position: relative;
        right: 0;
        top: 50%;
    }
}

.nav-fixed {
    .navigation {
        position: fixed;
        top: 0;
        width: 100%;
        background: #fff;
        z-index: 99;
        box-shadow: 1px -1px 6px 2px #d8d8d8;
    }
}

.image-element-class {
    width: 300px;
    padding: 5px;
    .inner-img {
        position: relative;
        overflow: hidden;
    }
    &:hover {
        img {
            transform: scale(1);
        }
        figure {
            opacity: 1;
        }
    }
    img {
        cursor: pointer;
        display: block;
        max-width: 100%;
        height: auto;
        transition: transform 0.35s;
        opacity: 0.8;
        transform: scale(1.11);
    }
    figure {
        cursor: pointer;
        font-family: 'Cookie', cursive;
        font-size: 24px;
        position: absolute;
        color: #fff;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: #000000a8;
        padding: 4px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
}

.special-wrapper ul li {
    cursor: pointer;
    .product-item img {
        max-width: 200px;
    }    
}

.parralax_section {
    background: url('/images/parallax-background.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
    &::after {
        content: '';
        background: #000;
        opacity: 0.6;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    figure, 
    h2 {
        z-index: 9;
        font-family: 'Cookie';
    }
}

.product-item-wrapper {
    position: relative;
    &:hover .product-toolbars {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

.product-toolbars {
    position: absolute;
    z-index: 9;
    right: 8px;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    visibility: hidden;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.tooltip {
    position: relative;
    .text-tooltip {
        position: absolute;
        top: -5px;
        right: -20px;
        opacity: 0;
        width: 120px;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    &:hover .text-tooltip {
        right: 0;
        opacity: 1;
    }
}

.container {
    margin: 0 auto;
}

.list--post {
    .date--post {
        top: -12px;
    }
}

.title-sections {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 40px;
        background: orange;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.menu-wrapper {
    z-index: 10;
    li {
        color: #333;
        cursor: pointer;
    }
    .image-menu {
        cursor: pointer;
    }
    .has-child {
        &::after {
            content: "\e604";
            font-family: 'simple-line-icons';
            margin-left: 5px;
            display: inline-block;
            vertical-align: middle;    
            font-size: 12px;   
            font-weight: bold;     
        }
        .dropdown-menu-child {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background: #fff;
            z-index: 9;
            opacity: 0;
            transform: translateY(40px);
            visibility: hidden;
            transition: all .3s ease-in-out;
            li:hover {
                text-decoration: underline;
            }
        }
        &:hover .dropdown-menu-child {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }
}

body.show-search--form {
    .search-wrapper {
        display: block;
    }
}

.search-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2b2b2b66;
    z-index: 99;
    display: none;
    .form-search-product {
        background: #fff;
        padding: 15px;
        position: absolute;
        min-width: 700px;
        text-align: center;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.breadcrumbs {
    span {
        &::after {
            content: "\e606";
            font-family: 'simple-line-icons';
            display: inline-block;
            vertical-align: middle;
            margin: 0 5px;
            font-size: 12px;
        }
        &:last-child::after{
            display: none;
        }
    }
}

.pagination {
    li {
        cursor: pointer;
        &.active {
            background: #81e6d9;
        }
    }
    .last-item {
        a {
            text-indent: -9999px;   
            display: none;
        }
        &::after {
            content: "\e606";
            font-family: 'simple-line-icons';
            font-size: 12px;
            cursor: pointer;
        }
    }
    .first-item {
        a {
            text-indent: -9999px;
            display: none;
        }
        &::after {
            content: "\e605";
            font-family: 'simple-line-icons';
            font-size: 12px;
            cursor: pointer;
        }
    }
}

.checkbox-input {
    position: relative;
    input[type="checkbox"] {
        width: 110px;
        height: 26px;
        opacity: 0;
        -webkit-appearance: none;
        display: inline-block;
        vertical-align: middle;
        z-index: 100;
        top: 50%;
        left: 0;
        margin-top: -13px;
        position: absolute;
        cursor: pointer;
        &:checked + label::after {
            content: '\2713';
            text-align: center;
            line-height: 28px;
            color: #319795;
            width: 26px;
            height: 26px;
            top: 50%;
            left: 0;
            margin-top: -13px;
            position: absolute;
            cursor: pointer;
        }
    }
    .label {
        display: inline-block;
        width: 100%;
        position: relative;
        padding: 10px 10px 10px 40px;
        vertical-align: top;
        cursor: pointer;
        &::before {
            content: '';
            border: 2px solid rgba(0,0,0,0.3);
            width: 26px;
            height: 26px;
            top: 50%;
            left: 0;
            margin-top: -13px;
            position: absolute;
            cursor: pointer;
        }
    }
}

.rc-slider {
    .rc-slider-track {
        border-radius: 0;
        background-color: $primary-color;
    }
    .rc-slider-handle {
        border: solid 2px $primary-color;
        &:focus {
            border-color: $primary-color;
            box-shadow: 0 0 0 5px #82e6e4;
        }
    }
    .rc-slider-rail {
        border-radius: 0;
    }
}

body {
    .rc-slider-tooltip-inner {
        border-radius: 0;
        background-color: $primary-color;
    }
    .rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
        border-top-color: $primary-color;
    }
}

button {
    &.primary {
        width: 160px;
        text-align: center;
        background: #38b2ac;
        color: #fff;
        padding: 5px 10px;
        text-transform: capitalize;
        transition: all .2s ease-in-out;
        &:hover {
            background: #1e6765;
        }
    }
}

.grid.products {
    .add-to-cart {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 70%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    li:hover .add-to-cart {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 50%);
    }
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    width: 40px;
    height: 40px;
    z-index: 9;
    text-align: center;
    line-height: 40px;
    outline: none;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); 
    &:after {
        font-family: 'simple-line-icons';
        content: "\e606";
        color: #333;
    }
    &.swiper-button-disabled {
        display: none;
    }
}

.swiper-button-prev {
    left: 10px;
    &::after {
        content: "\e605";
    }
}

.minicart:hover .mini-cart {
    visibility: visible;
    transform: translateY(0);
    transition: all .1s ease-in-out;
}

.mini-cart {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 4px solid #f6ad55;
    min-width: 480px;
    height: 320px;
    background: #fff;
    padding: 15px;
    z-index: 99;
    transform: translateY(20px);
    visibility: hidden;
}