$primary-color: #319795;

@import 'simple-line-icons';
@import './component/slider';
@import './component/header';
@import './component/input';
@import './component/pagination';
@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600&display=swap');

body {
    font-family: 'Nunito', sans-serif;    
}

.container {
    margin: 0 auto;
}

.modal {
    z-index: 99;
}

.cart-item {
    .item-in-cart {
        position: relative;
        right: 0;
        top: 50%;
    }
}

.special-wrapper ul li {
    cursor: pointer;
    .product-item img {
        max-width: 200px;
    }    
}

.parralax_section {
    background: url('/images/parallax-background.jpg') no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;
    position: relative;
    &::after {
        content: '';
        background: #000;
        opacity: 0.6;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    figure, 
    h2 {
        z-index: 9;
        font-family: 'Cookie';
    }
}

.product-item-wrapper {
    position: relative;
    &:hover .product-toolbars {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}

.product-toolbars {
    position: absolute;
    z-index: 9;
    right: 8px;
    opacity: 0;
    top: 0;
    bottom: 0;
    width: 40px;
    visibility: hidden;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
}

.tooltip {
    position: relative;
    .text-tooltip {
        position: absolute;
        top: -5px;
        right: -20px;
        opacity: 0;
        width: 120px;
        -webkit-transition: all 0.35s;
        transition: all 0.35s;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
    }
    &:hover .text-tooltip {
        right: 0;
        opacity: 1;
    }
}


.list-post {
    .date-post {
        top: -12px;
    }
}

.title-sections {
    position: relative;
    &::after {
        content: '';
        position: absolute;
        height: 2px;
        width: 40px;
        background: orange;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
    }
}

.grid.products {
    .add-to-cart {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 70%);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    li:hover .add-to-cart {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, 50%);
    }
}

.table-cart {
    .item-options {
        & > button {
            position: absolute;
            top: 50%;
            margin-top: -50%;
            transition: all .3s ease-in-out;
        }
        .option-confirm {
            position: absolute;
            top: 50%;
            transform: translateY(80px);
            transition: all .3s ease-in-out;
        }
        &.actived {
            & > button {
                transform: translateY(80px);
            }
            .option-confirm {
                transform: translateY(-50%);
            }
        }
    }
}

.image-gallery-slides {
    position: relative;
    overflow: hidden;
    height: 300px;
    .image-gallery-slide {
        position: absolute;
    }
}

.image-gallery {
    .image-gallery-left-nav .image-gallery-svg, 
    .image-gallery-right-nav .image-gallery-svg {
        height: 60px;
        width: 30px;
    }
}

.image-gallery-thumbnail.active, 
.image-gallery-thumbnail:hover, 
.image-gallery-thumbnail:focus {
    border: 4px solid $primary-color;
}